<div class="row-fluid">
    <div class="camera_wrap pattern_4 camera_emboss" id="camera_wrap_4">
        <% for(let item in bannerData){ %>
        <div data-src="/<%= bannerData[item].img %>">
            <div class="camera_caption fadeFromTop">
                <h1><%= bannerData[item].mname %></h1>
                <span><%= bannerData[item].brief %></span>
            </div>
        </div>
        <% } %>
        <!-- <div data-src="/images/slide2.jpg">
            <div class="camera_caption fadeFromRight">
                <h1>捉妖记</h1>
                <span>
                    小伙子天荫（井柏然 饰）阴差阳错地怀上了即将降世的小妖王，他被降妖天师小岚（白百何
                    饰）一路保护着躲过各种妖怪。虽然二人渐渐对小妖产生了感情，小岚却明白她只为把这只惹人眼红的小妖卖个好价钱，在人妖混杂的世界里，他们的命运无疑将牵动人心。 </span>
            </div>
        </div>
        <div data-src="/images/slide3.jpg">
            <div class="camera_caption fadeFromRight">
                <h1>财神客栈</h1>
                <span>
                    在小小的白马城，居住着两个情投意合的好哥们儿龚少爷和巴少爷，二人携手报名当捕快，无奈虽然空有一身本领和远大志向，却只能委身厨房洗衣间，做一名任人驱使任任打骂的实习捕快。这一日，城中大户张员外家进入强梁，全家老小悉被杀害，无一幸免，家中价值连城的白玉观音也不知去向。
                </span>
            </div>
        </div>
        <div data-src="/images/slide4.jpg">
            <div class="camera_caption fadeFromRight">
                <h1>左耳</h1>
                <span>十七岁的女孩想变坏。左耳听力不好，如果站在左边说话就听不见，这样一个不起眼而内向的“我”某天突然就暗恋上了男生许弋，而同时许弋却被绿色眼影的长裙放浪女孩黎吧啦追求到手。心碎的“我”在偶然的机会和吧啦成为朋友，也认识了吧啦真正心爱的男生——张漾。随后吧啦在一次意外中去世了，小耳朵与许弋相恋，但最终分手，张漾和蒋皎来到北京，过着极其颓废的生活，当蒋皎改名为蒋雅希走向舞台时，张漾终于与她分手。
                </span>
            </div>
        </div> -->
    </div>
</div>